{% extends "base.html" %}

{% block content %}

<table>
    <tr class="row-with-bottom-line">
        <th>Kategorie</th>
        <th>Gesamt</th>
        <th>Januar</th>
        <th>Februar</th>
        <th>März</th>
        <th>April</th>
        <th>Mai</th>
        <th>Juni</th>
        <th>Juli</th>
        <th>August</th>
        <th>September</th>
        <th>Oktober</th>
        <th>November</th>
        <th>Dezember</th>
    </tr>
    <tr id="saldo" class="row-with-bottom-line">
        <th>Saldo</th>
        <td>{{ saldo.total|floatformat:"2g" }}</td>
        <td>{{ saldo.jan|floatformat:"2g" }}</td>
        <td>{{ saldo.feb|floatformat:"2g" }}</td>
        <td>{{ saldo.mar|floatformat:"2g" }}</td>
        <td>{{ saldo.apr|floatformat:"2g" }}</td>
        <td>{{ saldo.may|floatformat:"2g" }}</td>
        <td>{{ saldo.jun|floatformat:"2g" }}</td>
        <td>{{ saldo.jul|floatformat:"2g" }}</td>
        <td>{{ saldo.aug|floatformat:"2g" }}</td>
        <td>{{ saldo.sep|floatformat:"2g" }}</td>
        <td>{{ saldo.oct|floatformat:"2g" }}</td>
        <td>{{ saldo.nov|floatformat:"2g" }}</td>
        <td>{{ saldo.dec|floatformat:"2g" }}</td>
    </tr>
    <tr>
        <th>Korrekturen</th>
        <td>{{ correctures.total|floatformat:"2g" }}</td>
        <td>{{ correctures.jan|floatformat:"2g" }}</td>
        <td>{{ correctures.feb|floatformat:"2g" }}</td>
        <td>{{ correctures.mar|floatformat:"2g" }}</td>
        <td>{{ correctures.apr|floatformat:"2g" }}</td>
        <td>{{ correctures.may|floatformat:"2g" }}</td>
        <td>{{ correctures.jun|floatformat:"2g" }}</td>
        <td>{{ correctures.jul|floatformat:"2g" }}</td>
        <td>{{ correctures.aug|floatformat:"2g" }}</td>
        <td>{{ correctures.sep|floatformat:"2g" }}</td>
        <td>{{ correctures.oct|floatformat:"2g" }}</td>
        <td>{{ correctures.nov|floatformat:"2g" }}</td>
        <td>{{ correctures.dec|floatformat:"2g" }}</td>
    </tr>

    {% for account in accounts %}
    <tr {% if forloop.last %} class="row-with-bottom-line" {% endif %}>
        <th>{{ account.name }}</th>
        <td>{{ account.total|floatformat:"2g" }}</td>
        <td>{{ account.jan|floatformat:"2g" }}</td>
        <td>{{ account.feb|floatformat:"2g" }}</td>
        <td>{{ account.mar|floatformat:"2g" }}</td>
        <td>{{ account.apr|floatformat:"2g" }}</td>
        <td>{{ account.may|floatformat:"2g" }}</td>
        <td>{{ account.jun|floatformat:"2g" }}</td>
        <td>{{ account.jul|floatformat:"2g" }}</td>
        <td>{{ account.aug|floatformat:"2g" }}</td>
        <td>{{ account.sep|floatformat:"2g" }}</td>
        <td>{{ account.oct|floatformat:"2g" }}</td>
        <td>{{ account.nov|floatformat:"2g" }}</td>
        <td>{{ account.dec|floatformat:"2g" }}</td>
    </tr>
    {% endfor %}

    {% for reserve in reserves %}
    <tr>
        <th>{{ reserve.name }}</th>
        <td>{{ reserve.total|floatformat:"2g" }}</td>
        <td>{{ reserve.jan|floatformat:"2g" }}</td>
        <td>{{ reserve.feb|floatformat:"2g" }}</td>
        <td>{{ reserve.mar|floatformat:"2g" }}</td>
        <td>{{ reserve.apr|floatformat:"2g" }}</td>
        <td>{{ reserve.may|floatformat:"2g" }}</td>
        <td>{{ reserve.jun|floatformat:"2g" }}</td>
        <td>{{ reserve.jul|floatformat:"2g" }}</td>
        <td>{{ reserve.aug|floatformat:"2g" }}</td>
        <td>{{ reserve.sep|floatformat:"2g" }}</td>
        <td>{{ reserve.oct|floatformat:"2g" }}</td>
        <td>{{ reserve.nov|floatformat:"2g" }}</td>
        <td>{{ reserve.dec|floatformat:"2g" }}</td>
    </tr>
    {% endfor %}

</table>



{% endblock %}
